/* ======================================================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
    /* 62.5% of 16px = 10px */
    /* set 1rem = 10px using 62.5% of 16px 
    1rem = 10px
    1.5rem = 15px
    3rem = 30px
    6rem = 60px
    .1rem = 1px
     */
}

body {
    background-color: #333;
    color: #f5f5f5;
}

/* ======================================================================= */

/* ====================JAVASCRIPT PROJECT STYLES========================== */
:root {
    --white: #fff;
    --whitesmoke: #f5f5f5;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --grey: #eee;
    --dark-grey: #222831;
}

body {
    font-family: "Open Sans", sans-serif;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    width: 100%;
}

.container {
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 2rem;
}

/* ======================================================================= */

.container {
    min-width: 90rem;
    margin: 0 auto;
    padding: 0rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.counter-div {
    width: 40rem;
    border: 1px solid var(--grey);
    padding: 1rem;
    background-color: var(--light-blue);
    color: var(--whitesmoke);
    text-align: center;
    border-radius: 0.5rem;
}

.counter-div>* {
    margin-bottom: 2rem;
}

.count {
    font-size: 4rem;
}

.buttons button {
    padding: 1rem;
    margin: 0rem 1rem;
    font-size: 1.5rem;
    /* color: var(--whitesmoke); */
    font-weight: 700;
    border: none;
    outline: none;
    border-radius: 0.3rem;
    cursor: pointer;
}



button .reset {
    background-color: var(--whitesmoke);
    color: var(--black);
}