/* ======================================================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
    /* 62.5% of 16px = 10px */
    /* set 1rem = 10px using 62.5% of 16px 
    1rem = 10px
    1.5rem = 15px
    3rem = 30px
    6rem = 60px
    .1rem = 1px
     */
    scroll-behavior: smooth;
}

body {
    background-color: #333;
    color: whitesmoke;
}

/* ======================================================================= */

/* ====================JAVASCRIPT PROJECT STYLES========================== */
:root {
    --white: #fff;
    --whitesmoke: #f5f5f5;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --grey: #eee;
    --dark-grey: #222831;
}

body {
    font-family: "Open Sans", sans-serif;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    width: 100%;
}

.container {
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 2rem;
}

/* ======================================================================= */
img {
    width: 10%;
}

.box {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.payment {
    width: 40rem;
    border-radius: 0.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    background: rgba(255, 255, 255, 0.25);
}

.header h1 {
    font-size: 3rem;
    color: navy;
}

.header p {
    font-size: 1.6rem;
    font-weight: 700;

}

.content {
    padding: 1.5rem 3rem;
    /* border: 1px solid red; */
    background: rgba(255, 255, 255, 0.1);
}

.amount {
    margin-bottom: 2rem;
}

.amount p {
    font-size: 1.2rem;
}

.amount p span {
    font-size: 1.6rem;
    font-weight: 600;
}

.card-details {
    background: darkgray;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1px solid #000;
    /* color: #000; */
    border-radius: 0.3rem;
}

.card-details>* {
    padding: 1rem;
    width: inherit;
}

.number {
    grid-column: 1/3;
    border-bottom: 1px solid #ccc;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    position: relative;
}

.valid {
    width: 100%;
    border-right: 1px solid #ccc;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.ccv {
    width: 100%;
    position: relative;
}

label {
    font-size: 1.4rem;
    display: block;
    text-transform: uppercase;
    padding-bottom: 0.3rem;
}

.number img {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
}

input {
    border: none;
    outline: none;
    font-size: 1.5rem;
    padding: .3rem;
    color: #000;
    font-weight: 600;
}

::placeholder {
    font-size: 1.5rem;
}

.valid input, .ccv input {
    width: 50%;
}

.ccv span {
    position: absolute;
    right: 0.5rem;
    top: 1.3rem;
    /* font-size: 0.9rem; */
    cursor: pointer;
}

.remember {
    display: flex;
    padding: 1.5rem 0rem;
    align-items: center;
    font-size: 1.2rem;
}

.remember label {
    font-size: 1.3rem;
    text-transform: none;

}

.remember input {
    margin-right: 1rem;
}

.button {
    width: 100%;
    position: relative;
    /* border: 200px solid red; */
}

.btn {
    width: 100%;
    padding: 1.3rem 0;
    background: #000;
    color: var(--whitesmoke);
    font-weight: 500;
    font-size: 1.6rem;
    border: none;
    border: 1px solid #000;
    outline: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

.btn:hover {
    border: 1px solid #000;
    background: rgba(255, 255, 255, 0.25);
    color: #000;
    font-weight: 700;
}

.button i {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: whitesmoke;
}

.secure {
    margin: 2rem 0;
    background: rgba(255, 255, 255, 0.1);
    padding: 0.4rem 1rem;
    font-size: 1.2rem;
    color: silver;
    border-radius: 0.3rem;
    text-transform: capitalize;
}