/* ======================================================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
    /* 62.5% of 16px = 10px */
    /* set 1rem = 10px using 62.5% of 16px 
    1rem = 10px
    1.5rem = 15px
    3rem = 30px
    6rem = 60px
    .1rem = 1px
     */
    scroll-behavior: smooth;
}

body {
    background-color: #333;
    color: whitesmoke;
}

/* ======================================================================= */

/* ====================JAVASCRIPT PROJECT STYLES========================== */
:root {
    --white: #fff;
    --whitesmoke: #f5f5f5;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --grey: #eee;
    --dark-grey: #222831;
}

body {
    font-family: "Open Sans", sans-serif;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    width: 100%;
}

.container {
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 2rem;
}

/* ======================================================================= */
.text {
    text-align: center;
    margin-bottom: 2rem;
}

.tabs {
    display: flex;
    border: .1rem solid var(--whitesmoke);
    overflow: hidden;
}

.tab-links {
    width: 35%;
    z-index: 1;
    margin: 1rem;
}

button.tab-link {
    padding: 1.2rem;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1.8rem;
    border: none;
    outline: none;
    border-bottom: .2rem solid #000;

}

button.tab-link:last-child {
    margin-bottom: 0rem;
}

.active {
    background-color: red;
    background-color: black;
    color: var(--whitesmoke);
}

.tab-contents {
    padding: 1rem;
}

.tab-content {
    display: none;
    animation: slide-right .5s ease 1;
}

.about {
    display: block;
}

@keyframes slide-right {
    0% {
        transform: translateX(-10rem);
    }

    100% {
        transform: translateX(0);
    }
}

@media screen and (max-width: 600px) {
    .tab-links {
        width: 50%;
    }

}