/* ======================================================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
    /* 62.5% of 16px = 10px */
    /* set 1rem = 10px using 62.5% of 16px 
    1rem = 10px
    1.5rem = 15px
    3rem = 30px
    6rem = 60px
    .1rem = 1px
     */
    scroll-behavior: smooth;
}

body {
    background-color: #333;
    color: whitesmoke;
}

/* ======================================================================= */

/* ====================JAVASCRIPT PROJECT STYLES========================== */
:root {
    --white: #fff;
    --whitesmoke: #f5f5f5;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --grey: #eee;
    --dark-grey: #222831;
}

body {
    font-family: "Open Sans", sans-serif;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    width: 100%;
}

.container {
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 2rem;
}

/* ======================================================================= */
section.main {
    width: 100%;
    height: 100vh;

}

.fab-btn {
    position: absolute;
    right: 3rem;
    bottom: 1.5rem;
    width: 5.5rem;
    height: 5.5rem;
    background-color: rgba(0, 0, 0, .8);
    color: var(--whitesmoke);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .8);
    transition: all .3s;
}

.fab-btn i {
    transition: all .3s;
}

.fab-btns .fab-btn {
    width: 4rem;
    height: 4rem;
    right: 3.8rem;
    bottom: 2.3rem;
    font-size: 1.5rem;
}

.fab-btns.show .fab-btn:nth-child(1) {
    bottom: 8rem;
    background: #3b5999;
}

.fab-btns.show .fab-btn:nth-child(2) {
    bottom: 13rem;
    background: #55acee;
}

.fab-btns.show .fab-btn:nth-child(3) {
    bottom: 18rem;
    background: #25d366;
}

.fab-btns.show .fab-btn:nth-child(4) {
    bottom: 23rem;
    background: var(--color-primary);
}

.fab-btns.show + .fab-btn i {
    transform: rotate(135deg);
}