/* ======================================================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
    /* 62.5% of 16px = 10px */
    /* set 1rem = 10px using 62.5% of 16px 
    1rem = 10px
    1.5rem = 15px
    3rem = 30px
    6rem = 60px
    .1rem = 1px
     */
    scroll-behavior: smooth;
}

body {
    background-color: #333;
    color: whitesmoke;
}

/* ======================================================================= */

/* ====================JAVASCRIPT PROJECT STYLES========================== */
:root {
    --white: #fff;
    --whitesmoke: #f5f5f5;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --grey: #eee;
    --dark-grey: #222831;
}

body {
    font-family: "Open Sans", sans-serif;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    width: 100%;
}

.container {
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 2rem;
}

/* ======================================================================= */
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid whitesmoke;
}

.box {
    width: 45rem;
    text-align: center;
    /* border-right: 1px solid red; */
    padding: 0rem;

}


.time {
    width: 45rem;
    font-size: 4rem;
    background-color: rgba(255, 255, 255, .1);
    background-color: #2b2b2b;
    padding: 4rem 0.5rem;
    border-radius: 0.3rem;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: lightgreen;
    border: 1px solid aqua;

}

button {
    padding: 1rem 2rem;
    border: 1px solid black;
    outline: none;
    margin: 1.5rem;
    cursor: pointer;
    color: whitesmoke;
    color: #000;
    font-size: 1.6rem;
    border-radius: 0.3rem;
    transition: all .3s;
}

.fas {
    margin-right: 1.5rem;
    font-size: 1.4rem;
}

.start {
    background-color: forestgreen;
    

}

.pause {
    background-color: coral;
}

.reset {
    background-color: firebrick;
}

.start:hover, .pause:hover, .reset:hover {
    color: whitesmoke;
    border: 1px solid whitesmoke;
   
}