/* ======================================================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
    /* 62.5% of 16px = 10px */
    /* set 1rem = 10px using 62.5% of 16px 
    1rem = 10px
    1.5rem = 15px
    3rem = 30px
    6rem = 60px
    .1rem = 1px
     */
    scroll-behavior: smooth;
}

body {
    background-color: #333;
    color: whitesmoke;
}

/* ======================================================================= */

/* ====================JAVASCRIPT PROJECT STYLES========================== */
:root {
    --white: #fff;
    --whitesmoke: #f5f5f5;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --grey: #eee;
    --dark-grey: #222831;
}

body {
    font-family: "Open Sans", sans-serif;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    width: 100%;
}

.container {
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 2rem;
}

/* ======================================================================= */
.slider {
    width: 100%;
    height: 70vh;
    position: relative;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(-50%);
    transition: all .5s ease;
}

.slide img {
    height: 100%;
}

.current {
    opacity: 1;
    transform: translateX(-0%);
}

.content {
    position: absolute;
    top: 7rem;
    left: 5rem;
    opacity: 0;
    width: 55%;
    padding: 3rem;
    transform: translateX(3rem);
}

.current .content {
    opacity: 1;
    transform: translateX(0);
    transition: all .5s ease;
}
.buttons button{
    border: .2rem solid #000;
    background-color: transparent;
    color: var(--whitesmoke);
    cursor: pointer;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: absolute;
    font-size: 1.8rem
}
.buttons button:hover{
    background-color: var(--whitesmoke);
    color: #000;
}
.next{
    top: 35%;
    right: 1.5rem;
}
.prev{
    top: 35%;
    left: 1.5rem;
}